@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@media (min-width: 992px) {
  body {
    font-family: "Lato", Arial, sans-serif;
    color: #fff;
  }
  .form-control {
    color: #464E65;
  }
  .msg-error,
  .msg-error_no-message {
    background-color: #E14C4C;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 1.2em;
    padding: 20px;
    margin-bottom: 20px;
  }
  .msg-error__item,
  .msg-error_no-message__item {
    font-weight: 900;
  }
  .msg-error_no-message {
    background-color: #26abe3;
  }
  .overlay,
  .msgoverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #26abe3;
    z-index: 3;
  }
  .msgoverlay {
    background-color: #fff;
  }
  .user-list {
    position: fixed;
    background: #444753;
    width: 200px;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    -webkit-box-shadow: 5px 0px 32px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 0px 32px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 0px 32px 6px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
  }
  .user-list__user {
    padding: 10px;
  }
  .user-list__user_active {
    background-color: #393b45;
  }
  .user__name {
    font-size: 1.4em;
  }
  .user__status {
    color: #72778b;
  }
  .user__status .online {
    color: #86BB71;
  }
  .message-list {
    margin-left: 200px;
    background-color: #e1e6ef;
    left: 0px;
    overflow-y: auto;
    padding: 0 40px;
    z-index: 1;
  }
  .send-form {
    position: fixed;
    width: 100%;
    height: 220px;
    bottom: 0px;
    left: 0px;
    padding-left: 200px;
    background-color: #ffffff;
    border-top: 1px solid #E9ECF2;
  }
  .send-form__text {
    background-color: #ffffff;
    box-shadow: none;
    border: none;
    padding: 50px;
    border-radius: 0px;
    width: 100% !important;
    resize: none;
  }
  .send-form__text:focus {
    outline: none;
    box-shadow: none;
  }
  .enter-checkbox {
    margin-right: 20px;
  }
  .enter-checkbox__label {
    color: #464E65;
  }
  .pc-form_login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-55%);
    margin-left: -155px;
  }
  .pc-form__errorlabel {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    background-color: #E14C4C;
    z-index: 1;
  }
  .pc-form__input.ng-touched.ng-invalid {
    position: relative;
    background-color: #f7cfcf;
    border-color: #E14C4C;
    z-index: 2;
    box-shadow: none;
  }
  .pc-form__input.ng-pristine.ng-invalid {
    background-color: #ffffff;
    border-color: #cccccc;
  }
  .pc-form_login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-55%);
    margin-left: -155px;
  }
  .pc-form_login label {
    color: #26abe3;
  }
  .pc-form_login .placeholder {
    color: #26abe3;
  }
  .chatlogo {
    margin-bottom: 60px;
  }
  .pcbtn {
    background-color: #26abe3;
    border: none;
    border-radius: 50px;
  }
  .pcbtn_login {
    border-radius: 3px;
  }
  .pcbtn::focus,
  .pcbtn::hover {
    background-color: #53bce9;
    color: #fff;
  }
  .send-message {
    margin-right: 30px;
  }
  .message {
    color: #464E65;
    margin: 30px 0;
  }
  .message__user {
    font-weight: 900;
    font-size: 1.2em;
  }
  .message__main {
    margin-bottom: 10px;
  }
  .message__date {
    color: #828ca8;
  }
  .message__content {
    position: relative;
    background-color: #c0cadd;
    margin: 10px 0 0 20px;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  }
  .message__content::after {
    top: -18px;
    left: 28px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 9px;
    margin-left: -19px;
    border-bottom: 10px solid #c0cadd;
  }
  .message_active .message__content {
    background-color: #26abe3;
    color: #fff;
  }
  .message_active .message__content .message__main {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  .message_active .message__content .message__date {
    color: #ABDEF4;
  }
  .message_active .message__content::after {
    border-bottom-color: #26abe3;
  }
  #spinner {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
  }
  #minispinner {
    top: 50%;
    position: absolute;
    left: 50%;
  }
  .msgspinner {
    margin-left: -100px;
  }
}
