@import "variables.less";
@import "library.less";
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

@main-blue : #26abe3;

@media (min-width: @screen-md) {

	body {
		font-family: "Lato", Arial, sans-serif;
		color: #fff;
	}

	.form-control{
		color: #464E65;
	}

	.msg-error, .msg-error_no-message{
		background-color: #E14C4C;
		text-align: center;
		color: #fff;
		font-weight: 300;
		font-size: 1.2em;
		padding: 20px;
		margin-bottom: 20px;
		&__item{
			font-weight: 900;
		}
	}

	.msg-error_no-message{
		background-color: #26abe3;
	}
	
	.overlay, .msgoverlay{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    background: #26abe3;
	    z-index: 3;
	}

	.msgoverlay{
		background-color: #fff;
	}

	.user-list {
		position: fixed;
		background: #444753;
		width: 200px;
		height: 100%;
		top:0px;
		left: 0px;
		z-index: 2;
		.box-shadow(5px 0px 32px 6px rgba(0, 0, 0, 0.20));
		overflow-y: auto;
		&__user{
			padding: 10px;
		}
	}

	.user-list__user_active{
		background-color: darken(#444753, 5%);
	}

	.user{
		&__name{
			font-size: 1.4em;
		}
		&__status{
			color: lighten(#444753, 20%);
		}
		&__status .online {
			color: #86BB71;
		}
	}

	.message-list {
		margin-left: 200px;
		background-color: darken(#F2F4F8, 5%);
		left: 0px;
		overflow-y: auto;
		padding: 0 40px;
		z-index: 1;
	}

	.send-form {
		position: fixed;
		width: 100%;
		height: 220px;
		bottom: 0px;
		left: 0px;
		padding-left: 200px;
		//background-color: #F7F9FD;
		background-color: lighten(#F2F4F8, 5%);
		border-top: 1px solid #E9ECF2;
		&__text{
			background-color: lighten(#F2F4F8, 5%);
			box-shadow: none;
			border: none;
			padding: 50px;
			border-radius: 0px;
			width: 100% !important;
			resize: none;
		}
		&__text:focus{
			outline: none;
			box-shadow: none;
		}
	}

	.enter-checkbox{
		margin-right: 20px;
		&__label{
			color: #464E65;
		}
	}

	.pc-form{
		&_login{
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translateY(-55%);
		    margin-left: -155px;
		}
		&__errorlabel{
			width: 100%;
			margin-bottom: 10px;
			padding: 10px;
			color: #fff;
			background-color: #E14C4C;
			z-index: 1;
		}
		&__input.ng-touched.ng-invalid{
			position: relative;
			background-color: lighten(#E14C4C, 30%);
			border-color: #E14C4C;
			z-index: 2;
			box-shadow: none;
		}
		&__input.ng-pristine.ng-invalid{
			background-color: #ffffff;
			border-color: #cccccc;
		}
	}

	.pc-form_login{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translateY(-55%);
	    margin-left: -155px;
	    label{
	    	color: @main-blue;
	    }
	    .placeholder{
	    	color: @main-blue;	
	    }
	}

	.chatlogo{
		margin-bottom: 60px;
	}

	.pcbtn{
		background-color: @main-blue;
		border: none;
		border-radius: 50px;
		&_login{
			border-radius: 3px;
		}
		&::focus, &::hover{
			background-color: lighten(@main-blue, 10%);
			color: #fff;
		}
	}

	.send-message{
		margin-right: 30px;
	}

	.message{
		color: #464E65;
		margin: 30px 0;
		&__user{
		    font-weight: 900;
		    font-size: 1.2em;
		}
		&__main{
			margin-bottom: 10px;
		}
		&__date{
			color: lighten(#464E65, 25%);
		}
		&__content{
			position: relative;
			background-color: darken(#F2F4F8, 15%);
			margin: 10px 0 0 20px;
			border-radius: 5px;
			padding: 10px;
			.box-shadow(0px 0px 8px 0px rgba(0, 0, 0, 0.20));
		}
	}

	.message__content::after {
	    top: -18px;
	    left: 28px;
	    border: solid transparent;
	    content: " ";
	    height: 0;
	    width: 0;
	    position: absolute;
	    pointer-events: none;
	    border-width: 9px;
	    margin-left: -19px;
	    border-bottom: 10px solid darken(#F2F4F8, 15%);;
	}

	.message_active{
		.message__content{
			background-color: #26abe3;
			color: #fff;
			.message__main{
				font-size: 1.4em;
    			margin-bottom: 10px;
			}
			.message__date{
				color: #ABDEF4;
			}
			&::after {
				border-bottom-color: #26abe3;
			}
		}
	}
	#spinner{
    	position: absolute;
    	width: 200px;
    	height: 200px;
    	top: 50%;
    	left: 50%;
	}

	#minispinner{
		top: 50%;
		position: absolute;
		left: 50%;	
	}   
	
	.msgspinner{
		margin-left: -100px;
	}
}